@media screen and (max-width:1124px) {
    html {
        font-size: 1.78vw;
    }
}

@media screen and (max-width:1024px){
    html {
        font-size: 2vw;
    }

    .container {
        max-width: none;
        padding: 0 20px;
    }
    
    .container_header {
        padding: 0 20px;
    }
    
    .owl-prev {
        left: 15%;
    }
    
    .owl-next {
        right: 15%;
    }
    
}

@media screen and (max-width:768px){
    html {
        font-size: 2vw;
    }

    .container {
        max-width: none;
        padding: 0 20px;
    }
    
    .container_header {
        padding: 0 20px;
    }
    
    .owl-prev {
        left: 15%;
    }
    
    .owl-next {
        right: 15%;
    }

    .gift__img{
        width: 25%;
    }
    
}

@media screen and (max-width:360px) {
    html {
        font-size: 9vw;
    }
    .film__cards{
        display: grid;
        grid-template-columns: 1fr;
    }
    .why_us_first_row{
        display: grid;
        grid-template-columns: 1fr;
    }
}

