* {
    margin: 0;
    padding: 0;
    
}

.head2 {
    background: url(/images/Back.png) no-repeat center/cover;
    position: relative;
    height: 500px;
    margin-bottom: 150px;
}
@font-face {
    font-family: 'IBM-Plex-Sans';
    src: url('/fonts/IBMPlexSans-Light.ttf');
    font-size: normal;
    font-weight: 100;
}
body{
    font-family: 'IBM-Plex-Sans';
}
.Good {
    border: 1px solid white;
    width: 350px;
    background: white;
    text-align: center;
    margin-left: 799px;
    position: absolute;
    color: black;
    bottom: -50px;
    right: 100px;
    border-radius: 10px;
    
}

.box1 {
    width: 250px;
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.all_box {
    display: flex;
}

.head1 {

    display: flex;
}

.menu {
    margin-left: 80px;
}
.menu a{
    color: white;
}
.present {
    background: url(/images/7.png) no-repeat center/cover;
    text-align: end;
    height: 500px;
    padding-top: 100px;
    padding-right: 50px;
    margin-top: 100px;
    position: relative;
}

.present__text {
    width: 50%;
    float: right;
}

.pod_img {
    position: absolute;
    left: 100px;
    top: -100px;
    border-radius: 100%;
}

.button {
    position: relative;
    background-color: #A3CC40;
    color: white;
}

.card {
    width: 245px;
    height: 331px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.card__img {
    width: 100%;
    height: 100%;
}

.card__hover {
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: 600;
    background: rgba(163, 204, 64, 0.8);
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
    width: 98%;
    padding-top: 100px;
    text-align: center;
    height: 153px;
    border-radius: 10px;
    bottom: 7px;
}

.card_box {
    display: flex;
}

.Coca-cola{
    display: flex;
}
.Reviews {
    background: url(/images/21.png) no-repeat center/cover;
    color: white;
    position: relative;
    padding-top: 100px;

}
.Елена{
    width: 20%;
    display: inline-block;
    background-color: yellowgreen;
    width: 20%;
    color: white;
    border-radius: 9px;
    margin: 50px;
}
.Елена img {
    width: 100%;
}
.Елена h3{
    padding: 8.68px;
}
.Елена p{
    padding: 8.53px;
}
.karta{
    width: 973px;
    height: 421px;
    margin: 50px;
}
.innopolis{
    width: 20%;
    display: inline-block;
}
footer{
    display: block;
    background: #A3CC40;
    color: white;
    padding: 50px;
    height: 300px;
}
.text3{
    display: inline-block;
    width: 20%;
    height: 26px;
    margin: 0 50px;
}
footer a{
    color: white;
}
.Feedback{
    border: none;
    width: 767px;
    height: 527px;
    margin: 43px 183px 61px 174px;
    border-radius: 20px;
    display: flex;
    box-shadow: 8px 9px 39px rgba(185, 185, 185, 0.37);
}
.Feedback img{
    margin-left: 27px;
}
.img-back{
    background: url(/images/26.png) no-repeat center/cover;
    width: 414px;
    height: 527px;
    border-radius: 20px;
}
.party{
    color: #A3CC40;
    font-size: 25px;
}
.form{
    font-size: 25px;
    color: #A3CC40;
    text-align: center;
    width: 350px;
    margin-top: 31px;
}
.party_form{
    margin-left: -27px;
}
.full_name{
    color: #A1A1A1;
    width: 314px;
    height: 40px;
    outline: none;
    background: #DEDEDE;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
}
.option_form1{
    width: 344px;
    height: 40px;
    padding-left: 15.56px;
    border: none;
    color: #A1A1A1;
    background: #DEDEDE;
    border-radius: 5px;
    margin-top: 33px;
    outline: none;
}
.full_name3{
    color: #A1A1A1;
    width: 314px;
    height: 40px;
    outline: none;
    background: #DEDEDE;
    border: none;
    border-radius: 5px;
    padding-left: 15.56px;
    padding-right: 15px;
    padding-bottom: 87px;
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
}
.chek{
    display: flex;
    margin-top: 20px;
}
.chek p{
    margin-left: 6px;
    font-size: 12px;
}
.table_header{
    height: 45px;
    width: 600px;
    margin: 50px 50px 50px 50px;
    border-radius: 10px;
    background: #373737;
}
.janr{
    text-align: start;
}
.name_film{
    text-align: start;
}
.head_tb{
    background: #A3CC40;
    
}
.table_header tr{
    height: 30px;
}
#table{
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    border-collapse: collapse;
    color: white;
}
#table tr:nth-child(even){
    background-color: #373737; font-size: 14px;
}
#table tr{
    height: 50px;
}
#table tr:nth-child(odd){
    background-color: #4d4c4f;
    font-size: 14px;
}
#table th{
    background-color: #A3CC40;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.check{
    width: 80px;
    text-align: center;
}
.box1{
    margin: 55px;
}
.Coca-cola1{
    margin: 55px;
}
.Reviews{
    margin: 89.45px;
}
.Reviews h1{
    margin: 26px;
    margin-left: 139px;
}
.text{
    margin-left: 141px;
}
.Large h3{
    padding: 35px;
}
.films h1{
    margin: 27px;
    margin-left: 140px;
}
.films p{
   margin: 64px;
   margin-left: 140px;
}
.why h1{
    margin: 84px;
}
.why p{
    margin: 30px;
    text-align: center;
}
.films{
    margin-left: 139px;
}
.films{
    margin-left: 139px;
}
.films{
    margin-left: 139px;
}
.goods h1{
    margin: 79px 437px 27px 100px;
}
.goods p{
    margin: 27px 437px 57px 100px;
}
.card{
    margin-left: 99px;
}
.movie h1{
    margin: 144px 595px 84px 135px;
}
.movie p{
    margin: 30px 292px 199px 293px;
}
.good{
    margin: 110px;
    padding-left: 70px;
}
.logo{
    margin-top: 99px;
}